# fastapi
# uvicorn
# asyncpg
# sqlalchemy
# pydantic
# passlib[bcrypt]
# python-jose
# openai
# langchain
# python-dotenv
# httpx
# pytest

fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
asyncpg
alembic
passlib[bcrypt]
python-jose[cryptography]
langchain
langchain-google-genai
pydantic
fastapi-pagination
